<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://patrickcuadros-001-site1.btempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://patrickcuadros-001-site1.btempurl.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>patrickcuadros-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\patrickcuadros-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HRSolucion.Datos.EF.Contextos.ContextoBase`1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HRSolucion.Datos.EF.Contextos.ContextoBase`1, HRSolucion.Datos.EF" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HRcnx" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9DE356_pc;Integrated Security=False;User ID=DB_9DE356_pc_admin;Password=KEKE.2015;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HRSolucion.Datos.EF.Contextos.HRContexto, HRSolucion.Datos.EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HRConexion" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="User Id=HR;Password=oracle;Data Source=dsOracle" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HRConexion_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="User Id=HR;Password=oracle;Data Source=dsOracle" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HRcnx-Web.config Connection String">
      <ParameterValue>Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9DE356_pc;Integrated Security=False;User ID=DB_9DE356_pc_admin;Password=KEKE.2015;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HRConexion-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HRSolucion.Datos.EF.Contextos.ContextoBase`1-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="HRSolucion.Datos.EF.Contextos.ContextoBase`1" />
  </ItemGroup>
</Project>